{{ import('css','contentblock.css','ext.widgets.css') }}

<div class='content-block-widget'>
    {% if showTitle and contentBlock.title %}
        <h2>{{ contentBlock.title|raw }}</h2>
        <div class='space-12'></div>
    {% endif %}
    <div class='content-block-text'>{{ contentBlock.text|raw }}</div>
</div>