{{ import('css','subscribe.css','ext.widgets.css') }}

<div class='subscribe-widget'>
    <div class='title'>{{ _t('app', 'Подписаться на наши новости:') }}</div>
    <div class='input'>
        <input placeholder="{{ _t('app', 'Введите ваш e-mail') }}">
        <button>{{ _t('app', 'Да!') }}</button>
    </div>
</div>
