/protected/config/params.php
log/
log/*
gfx/
gfx/*
data/
data/*
/www/store/*
/protected/runtime/*
/protected/messages/*
/protected/views/less_include/*.css
.htaccess
.htpasswd
*.txt
/protected/vendor/*
composer.lock


koala-config.json
