{% extends 'layouts/index.twig' %}

{% block content %}
    <div class='page-header'>
        <h1>Список {{ this.modelHumanTitle[2] }}</h1>
    </div>

    {% if canAdd %}
        {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
            'buttonType' : 'link',
            'type' : 'primary',
            'icon' : 'plus white',
            'label' : 'Добавить '~this.modelHumanTitle[0],
            'url' : ['add'],
        }) }}
    {% endif %}

    {{ widget('ext.mAdmin.widgets.AdminGridViewWidget', {
        'type' : 'condensed bordered hover',
        'dataProvider' : model.search(),
        'filter' : model,
        'columns' : columns,
    }) }}

{% endblock %}
