/*
 http://www.fontsquirrel.com/tools/webfont-generator

 Character type: lowercase, uppercase, numbers, punctuation, currency, math symbols;
 Language: Cyrillic, English;
 Unicode Tables: Basic latin, Currency symbols, punctuation;
*/

@fonts:             11 15px,    12 16px,    13 17px,    14 19px,
        15 21px,    16 22px,    17 23px,    18 24px,
        20 26px,                22 29px,                24 32px,
                    26 35px,    27 36px,    28 37px,    29 38px,
        30 40px,                32 42px,                34 45px;

// Sizes
.font-size(@s) {
    @size: ceil(@s);
    font-size: ~"@{size}px";
    line-height: 1;

    .iter(length(@fonts));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@fonts, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 

        & when (@key = @size) {
            line-height: @value;
        };
    }
}
.font-size(@size, @lh) {
    font-size: ~"@{size}px";
    line-height: @lh;
}


// FiraSans
.font(FiraSans) {
    font-family: 'fira_sansregular', Helvetica, Arial, sans-serif;
}
.font(FiraSans, light) {
    font-family: 'fira_sans_lightregular', Helvetica, Arial, sans-serif;
}

// FTY Varoge
.font(FTY_Varoge) {
    font-family: 'FTYVarogeSaroNoestNCV', Helvetica, Arial, sans-serif;
}

// Helvetica
.font(Helvetica) {
    font-family: 'helveticaneuecyrroman', Helvetica, Arial, sans-serif;
}
.font(Helvetica, italic) {
    font-family: 'helveticaneuecyritalic', Helvetica, Arial, sans-serif;
}
.font(Helvetica, medium) {
    font-family: 'helveticaneuecyrmedium', Helvetica, Arial, sans-serif;
}

// GothamPro
.font(GothamPro, medium) {
    font-family: 'gotham_pro_narrowmedium', Helvetica, Arial, sans-serif;
}

// OpenSans
.font(OpenSans) {
    font-family: 'open_sansregular', sans-serif;
}
.font(OpenSans, italic) {
    font-family: 'open_sansitalic', sans-serif;
}
.font(OpenSans, semibold) {
    font-family: 'open_sanssemibold', sans-serif;
}
