@import (reference) '../less_include/custom_variables.less';
@import (reference) '../less_include/fonts.less';

/* Главная разметка */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    .font(@mainFont);
}

body, table {
    .font-size-responsive(@mainFontSize, @mainFontSmallSize);
    color: @colorText;
    background-color: @mainBg;
}

.navbar-default  .navbar-nav > li > a,
a {
    &, &:visited, &:link, a:focus {
        text-decoration: none;
        color: @colorLink;
    }
    &:hover {
        text-decoration: none;
        color: @colorLinkHover;
    }
    &.active, &:active {
        text-decoration: none;
        color: @colorLinkActive;
    }

    &.disable {
        &, &:visited, &:link, a:focus, a:hover, a:active {
            color: @colorLinkDisable;
            cursor: default;
        }
    }
}


p {
    margin: 0px !important;
    padding: 0px;
    padding-bottom: @smallPadding;
    line-height: 1.5em;
}
p:nth-last-child(1) {
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    .font(@headerFont) !important;
    padding: 0px !important;
    margin: 0px !important;
}
h1, h2 {
    .font-size-responsive(@headerFontSize, @headerFontSmallSize, '!important');
}
h3 {
    .font-size-responsive(@headerFontSize*0.9, @headerFontSmallSize*0.9, '!important');
}
h4 {
    .font-size-responsive(@headerFontSize*0.8, @headerFontSmallSize*0.8, '!important');
}
h5 {
    .font-size-responsive(@headerFontSize*0.7, @headerFontSmallSize*0.7, '!important');
}
h6 {
    .font-size-responsive(@headerFontSize*0.1, @headerFontSmallSize*0.1, '!important');
}

table {
    background-color: transparent;
    border: none;
    td {
        vertical-align: top;
        text-align: left;
    }
}


ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}
li {
    list-style-type: none;
    
    a {
    }

    &:nth-child(1) {
        padding-top: 0px;
    }
    &:nth-last-child(1) {
        padding-bottom: 0px;
    }

    .disable {
        color: #e4e4e4;
    }
}


.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

*:focus {
    outline: none;
}

// Вертикальные отступы
.space-small {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;
    margin-top: @smallPadding - 1;
}
.space-middle {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;
    margin-top: @middlePadding - 1;
}
.space-big {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;
    margin-top: @bigPadding - 1;
}

// Горизонтальные отступы
.hspace-small {
    min-width: @smallPadding;
    max-width: @smallPadding;
    width: @smallPadding;
}
.hspace-middle {
    min-width: @middlePadding;
    max-width: @middlePadding;
    width: @middlePadding;
}
.hspace-big {
    min-width: @bigPadding;
    max-width: @bigPadding;
    width: @bigPadding;
}

// Чтобы эти блоки не влияли на отображение
.hidden-print,
.visible-print {
    height: inherit;
}