&.active {
    display: block;
}

p {
    margin-top: @smallPadding !important;
    margin-bottom: @smallPadding !important;
    padding: 0;
}
.text-center {
}
img {
    //width: 100%;                      // Убираем, иначе все картинки меньше, чем ширина контента, станут по ширине
    max-width: 100%;                    // Фиксируем размер картинки по размеру контейнера
    height: auto !important;
    display: block;
    //margin: 0 auto;                     // Центрируем картинку
}
// Отступ для обтекания картинки справа
img[style*='float:left'],
img[style*='float: left'] {
    margin-right: @smallPadding;
}
// Отступ для обтекания картинки слева
img[style*='float:right'],
img[style*='float: right'] {
    margin-left: @smallPadding;
}
iframe {
    margin-bottom: 60px;
}