@import '../../extensions/mAdmin/assets/css/less/bootstrap/variables';

@biege:     #c39367;
@black:     #2c2a29;
@brown:     #623b2a;
@cream:     #ded6d2;
@grey:      #989798;
@red:       #e04e39;
@rusty:     #ab3000;
@silver:    #efefef;
@white:     #fff;

@ptsans:    FiraSans, Arial, 'Helvetica Neue', Helvetica, sans-serif;

@siteW:                 @screen-lg-min - @grid-gutter-width;    // Ширина сайта
@mainFont:              FiraSans;
@mainFontSize:          18;         // См. @base-font-size
@mainFontHeaderSize:    18;

// Основные отступы
@smallPadding:          11px;
@middlePadding:         22px;
@bigPadding:            44px;

// Цвета
@devRedBg:              rgba(255,0,0,0.2);
@devGreenBg:            rgba(0,255,0,0.2);
@devBlueBg:             rgba(0,0,255,0.2);
@devMagentaBg:          rgba(255,0,255,0.2);
@devGreyBg:             rgba(0,0,0,0.05);

@mainBg:                #fff;

@colorText:             #0f080f;
@colorGrey:             #ccc5b5;
@colorLight:            #eeeae1;

// Цвета ссылок
@colorLink:             @colorText;
@colorLinkHover:        @colorGrey;
@colorLinkActive:       @colorGrey;
@colorLinkDisable:      @colorLight;

@colorSeparatorLine:    @colorGrey;