.alert {
  position: relative;
  width: 80%;
  border: 1px solid #c39367;
  padding: 44px;
  margin-left: 10%;
  margin-bottom: 44px;
}
.alert .close {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.alert .close:hover,
.alert .close:active {
  opacity: .8;
}
.alert .close:after {
  font-size: 32px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: '✕';
  text-align: center;
  color: #989798;
}
