.hmenu {
  display: inline-block;
}
.hmenu ul > li:hover > .submenu {
  display: block !important;
}
.hmenu ul.root {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.hmenu ul.root > li {
  float: left;
  list-style-type: none;
}
.hmenu ul.root > li:nth-child(1) {
  padding-left: 0px;
}
.hmenu ul.root > li:nth-last-child(1) {
  padding-right: 0px;
}
.hmenu ul.root > li .disable {
  color: #e4e4e4;
}
.hmenu ul.submenu {
  display: none;
}
.vmenu {
  display: inline-block;
}
.vmenu ul.root {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.vmenu ul.root > li {
  list-style-type: none;
}
.vmenu ul.root > li:nth-child(1) {
  padding-top: 0px;
}
.vmenu ul.root > li:nth-last-child(1) {
  padding-bottom: 0px;
}
.vmenu ul.root > li .disable {
  color: #e4e4e4;
}
.vmenu .submenu {
  display: none;
}
